<!--.vitepress/theme/MyLayout.vue-->
<script setup>
import DefaultTheme from 'vitepress/theme'

const { Layout } = DefaultTheme

</script>

<template>

  <Layout>

    <template #doc-before>
      <h1 class="page-title">{{ $frontmatter.title }}</h1>
      <ImageCours 
      v-if="$frontmatter.featured" 
      :isabsolute="$frontmatter.featured.absolute" 
      :legend="$frontmatter.featured.caption" 
      :link="$frontmatter.featured.link" 
      :file="$frontmatter.featured.path" 
      :module="$frontmatter.module" 
      :slug="$frontmatter.slug" 
      />
    </template>


    <template #aside-outline-after>
      <div class="cours-gallery">
        <figure v-for="(image, idx) in $frontmatter.medias" :key="idx">
            <a data-fancybox v-if="!image.absolute" :title="image.caption" :href="'/' + image.path">
                <img :src="'/' + image.path" :alt="image.caption">
            </a>
            <a data-fancybox v-else :title="image.caption" :href="image.path">
                <img :src="image.path" :alt="image.caption">
            </a>
          
              <figcaption class="legend" v-if="image.caption || image.link">
                  <span>
                    {{ image.caption }}
                    <a class="download-btn" v-if="!image.absolute" :href="'/'+image.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#FFFFFF"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
                    <a class="download-btn" v-if="image.absolute" :href="image.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#FFFFFF"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
                  </span>
                  <a :href="image.link" target="_blank" v-if="image.link">
                    <i v-if="textlink">{{ image.textlink }}</i>
                    <i v-else>→ Ouvrir le lien</i>
                </a>
              </figcaption>
        </figure>
    </div>
    </template>
  </Layout>

</template>