/* 
:root {

    --vp-font-family-base: 'Atkinson Hyperlegible', sans-serif;
    --vp-c-brand: #72a6ff;
    --vp-c-brand-light: #101cff; 
    --vp-layout-max-width: 1500px;
    --vp-shadow-1:red;
    --vp-c-text-1:rgb(34, 33, 33);
    --vp-c-bg:rgb(255, 255, 255);
    --vp-sidebar-bg-color:rgb(242, 242, 242);
    --vp-c-text-2:rgb(34, 33, 33);
    --vp-code-block-bg:rgb(16, 16, 17);
    --vp-sidebar-width: 330px;
    &.dark {
        --vp-c-bg:rgb(25, 25, 27);
        --vp-c-text-1:rgb(237, 237, 237);
        --vp-c-brand: #72a6ff;
        --vp-sidebar-bg-color:rgb(16, 16, 17);
        --vp-c-text-2:rgb(237, 237, 237);
    }
  }
.curtain {
    display:none;
}
  .VPDoc.has-aside .content-container {
   max-width: 1000px !important;
}
img {
    width:100%;
    border-radius:.3rem;
}
.VPNavBarTitle .title {

}
.link-text {
    font-size:.95rem !important;
}

a + small,
img + small {
    display:block;
    flex-direction:column;
    font-size:.9rem;
    padding:.25rem .5rem;
background:black;

}
.vp-doc p {
    line-height:1.6rem;
}
.vp-doc ul {
    line-height:1.3rem;
    margin:2rem 0;
}
.vp-doc h1,
.vp-doc h1 a {
    font-weight: 600;
    font-size:1.8rem;
}  */


/* .vitepress/theme/custom.css */
:root {

    --vp-font-family-base: 'Atkinson Hyperlegible', sans-serif;
    --vp-c-brand: #ff6d40; // #3e95ff;
    --vp-c-brand-light: #ff6d40; // #3e95ff;
    --vp-layout-max-width: 1400px;
    --vp-shadow-1:red;
    --vp-c-text-1:rgb(34, 33, 33);
    --vp-c-bg:rgb(255, 255, 255);
    --vp-sidebar-bg-color:rgb(242, 242, 242);
    --vp-c-text-2:rgb(34, 33, 33);
    --vp-code-block-bg:rgb(16, 16, 17);
    --vp-sidebar-width: 280px;
    &.dark {
        --vp-c-bg:rgb(23, 23, 24);
        --vp-c-text-1:rgb(232, 232, 232);
        --vp-c-brand: #ff6d40; // #3e95ff;
        --vp-sidebar-bg-color:rgb(16, 16, 17);
        --vp-c-text-2:rgb(237, 237, 237);
        .vp-doc {
            strong {
                color:white !important;
            }
         }
         .cours-gallery {
            figcaption {
                color:rgb(221, 221, 221);
            }
        }
    }

  }
  @media (min-width: 960px) {
    .VPContent > div {
        padding-top:0 !important;
      }
  }

 .vp-doc {

    h2 {
        font-size: 1.4rem;
    }
    ul {
        line-height: 1.15rem !important;
    }
 }
.page-title {
    font-size:1.6rem;
    font-weight:600;
    margin-bottom:2rem;
}
.curtain {
    &::before {
        display:none !important;
    }
    //
}
  .VPDoc.has-aside .content-container {
   max-width: 1000px !important;
}

body::-webkit-scrollbar {
    display: none;
  }
  

  body,
  .VPSidebar[data-v-8f603b0e] {
    -ms-overflow-style: none !important;  
    scrollbar-width: none !important; 
  }
img, .frame {
    width:100%;
    max-width:100% !important;
    border-radius:.3rem;
    margin-bottom:2rem;
    + img {
        margin-top:2rem;
    }
}
.aside {
    max-width: 356px !important;
}
.cours-gallery {
    margin-top:2rem;
    img, .frame {
        width:100%;
        border-radius:0;
        + img {
            
        }
    }
    figure {
        margin:0;
        img {
            margin:0;
        }
    }
    figcaption {
        font-size:.75rem;
        line-height:1rem;
        font-style:italic;
        margin-top:.6rem;
        margin-bottom:1.5rem;
        .download-btn {
            float:right;
            
        }
    }
}
.VPNavBarTitle .title {

}
.link-text {
    font-size:.95rem !important;
}

a + small,
img + small {
    display:block;
    flex-direction:column;
    font-size:.9rem;
    padding:.25rem .5rem;
background:black;

}
.legend {
    margin-top:.2rem;
    display:flex;
    flex-direction: column;
}
.vp-doc p {
    line-height:1.6rem;
}
.vp-doc {
    a {
        &:hover {
            color:var(--vp-c-brand);
            text-decoration:underline;
        }
    }
}
.vp-doc ul {
    line-height:1.3rem;
    margin:2rem 0;
    li {
        line-height:1.4rem;
        + li {
            margin-top:5px;
        }
    }
}
.vp-doc h1,
.vp-doc h1 a {
    font-weight: 600;
    font-size:1.8rem;
} 
.p5embed {
    border-radius:.3rem;
    border:none;
    margin:2rem 0 4rem;
    width:100%;
}
.vp-doc div[class*='language-'] {
    margin:2rem 0;
}
iframe {
    width:100% !important;
    max-width:640px !important;
    height:410px !important; 
    border-radius:.5rem !important;
}

a.inscriptions-button {
    background:#ff4f19; 
    color:white;
    font-weight:600;
    padding:.6rem 1.5rem;
    font-size:1.2rem;
    display:inline-flex;
    margin:1rem 0 1rem;
    border-radius:.3rem;
    transition:all ease .3s;
    border:3px solid #ff4f19; 
    &:hover {
        background:#FFFFFF;
        border:3px solid #ff4f19; 
        color:#ff4f19; 
text-decoration:none;
    }
}
.formframe {
    height:1500px !important;
}