<template>
    <div class="cours-gallery" >
      <figure v-for="(image, idx) in imggallery" :key="idx">
          <a data-fancybox v-if="!image.absolute" :title="image.caption" :href="'/cours/'+imgsection+'/'+imgcours+'/'+image.path">
              <img :src="'/cours/'+imgsection+'/'+imgcours+'/'+image.path" :alt="image.caption">
          </a>
         
          <a data-fancybox v-else :title="image.caption" :href="file">
              <img :src="image.path" :alt="image.caption">
          </a> <h1>HELLO</h1>
          <figcaption v-if="!image.absolute">
              <span>{{ image.caption }}</span>
                <div class="img-actions">
                  <a :href="'/cours/'+imgsection+'/'+imgcours+'/'+image.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
                </div>
          </figcaption>
          <figcaption v-else>
            <span>{{ image.caption }}</span>
              <div class="img-actions">
                <a :href="image.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
              </div>
        </figcaption>
      </figure>
  </div>
  </template>

<script setup>
defineProps({
  imggallery: Array,
  imgsection: String,
  imgcours: String
})
</script>
